.top {
    background-color: green;
    font-weight: bold;
    color: white;

    text-align: center;
    padding: 16px;
}

.top.lasagna {
    background-color: red;
}

.top.shiozake {
    background-color: orange;
    color: black;
}

.top.friedrice {
    background-color: wheat;
    color: black;
}

div {
    text-align: center;
}

h2 {
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 4px;
}

.description {
    margin-top: 0px;
}

h3 {
    margin-bottom: 8px;
}

ul {
    margin-top: auto;
}

ol {
    margin-top: auto;
}

li {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}